{% extends "base.html"%}

{% block content %}
<style>
 body {
  font-family: Arial, sans-serif;
  background-color: #F5F5F5;
}

.container {
  margin: 50px auto;
  max-width: 500px;
  background-color: #FFFFFF;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 0px 10px #CCCCCC;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

label {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
}

input[type="text"], input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 20px;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #0069D9;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0051A8;
}
</style>
<h1>Edit Profile</h1>
<form action="/edit_profile/" method="POST" novalidate>
    {{form.hidden_tag()}}
    <p> {{form.new_username.label}} <br>
       {{form.new_username(size=32)}}</p>

    <p> {{form.new_password.label}} <br>
       {{form.new_password(size=32)}}</p>

    <p>{{form.submit()}}</p>
</form>
{% endblock %}
