{% extends "base.html"%}

{% block content %}

<style>
    body {
        font-family: "Lato", sans-serif;
    }

    .main-head {
        height: 150px;
        background: #FFF;
    }

    .sidenav {
        height: 100%;
        background-color: #000;
        overflow-x: hidden;
        padding-top: 20px;
    }

    .main {
        padding: 0px 10px;
    }


    @media screen and (min-width: 768px) {
        .main {
            margin-left: 40%;
        }

        .sidenav {
            width: 40%;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
        }

        .send-form {
            margin-top: 70%;
        }
    }

    .left-edge {
        margin-top: 20%;
        padding: 60px;
        color: #fff;
    }

    .left-edge h1 {
        font-weight: 300;
    }

    .btn-black {
        background-color: #000 !important;
        color: #fff;
    }
</style>
<div class="sidenav">
    <div class = "left-edge">
        <h1>Create an event</h1>
        <p>This will be added to your google calendar</p>
    </div>
</div>

<div class="main">
    <div class="col-md-6 col-sm-12">
      <div class="send-form">
        <form action="/events/" method="POST" novalidate>
            {{form.hidden_tag()}}

            <h2>
                {{form.title.label}} <br>
                {{form.title(type="subject", class="form-control", placeholder="Subject")}}
            </h2>

            <p>
                {{form.start_time.label}} <br>
                {{form.start_time(size=32)}}
            </p>

            <p>
                {{form.end_time.label}} <br>
                {{form.end_time(size=32)}}
            </p>

            <p>
                {{form.attendees.label}} <br>
                {{form.attendees(type="text", class="form-control", placeholder="Recipient")}}
            </p>

            <p>
                {{ form.description.label }} <br>
                {{ form.description(type="body", class="form-control", placeholder="Body") }}
            </p>

            <p>
                {{ form.reminder.label }} <br>
                {{ form.reminder(size=32) }}
            </p>

            <p>{{form.submit(type="submit", class="btn btn-black")}}</p>
        </form>
        <a class="btn btn-warning" href="{{url_for('home')}}">Home</a>
      </div>
    </div>
</div>
{% endblock %}