{% extends "base.html"%}

{% block content %}
    {% for email in emails%} 
        <h1>{{email.m_subject}}</h1>
        <h2>From: {{email.m_sender}}</h2>
        <h2>To: {{email.m_to}}</h2>
        <p>
            {{email.m_body}}
        </p>
        <form action="/inbox/deletemessage"  method="POST" novalidate>
            <input id="email_id" name="email_id" style="display: none;" type="text" value="{{email.id}}">
            <button id="delete_email" name="delete_email" type="submit">delete</button> 
        </form>
    {% endfor %}


{% endblock %}