{% extends "base.html"%}

{% block content %}
<h1>Send Chat Messages</h1>
<form action="/chat/" method="POST" novalidate>
    {{form.hidden_tag()}}
    <p>
      {{ form.receiver.label }} <br>
      {{ form.receiver(size=32) }}
    </p>
    <p>
      {{ form.message.label }} <br>
      {{ form.message(size=32) }}
    </p>
    
    <p>{{ form.submit() }}</p>
    <a href="/home/">Home</a>
</form>
{% if messages %}
    <h3>Messages Received</h3>
    {% for message in messages %}
        <div class="message">
            <p>Time: {{message.time_send}}</p>
            <p>Message From: {{message.username}}</p>
            <p>Message Body: {{message.message}}</p>
        </div>
    {%endfor%}
{%else%}
    <p>No Messages</p>
{%endif%}
{% endblock %}