{% extends "base.html"%}

{% block content %}
<h1>Hello {{user.username}}</h1>

<form action="" method="POST" novalidate>
    <a href="{{url_for('delete_account')}}">Delete</a>
    <a href="{{url_for('logout')}}">Log Out</a>
    <a href="{{url_for('edit_user_profile')}}">Edit Profile</a>
    <a href="{{url_for('send_email_pop')}}">Send Email</a>
    <a href ="{{url_for('add_event')}}">Add Event To Calendar</a>
    <a href ="{{url_for('create_tasks')}}">Create a Task</a>
    <a href ="{{url_for('send_chat')}}">Send Chat</a>
    <a href ="{{url_for('inbox')}}">inbox</a>
</form>
{% endblock %}
